body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: whitesmoke;
    margin: 0px;
    overflow-x: hidden;
}

.table-sortable {
    font-size: 25px;
    margin: 150px 235px;
    box-shadow: 2px 4px 10px 2px #d4d4d4;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: #369b85;
}

.borderKiezen th {
    color: whitesmoke;
    background-color: #41b79d;
    padding: 2px 30px;
    border-bottom: 2px solid #949494;
}

.borderAntwoorden td {
    background-color: white;
    padding: 3px 8px;
    text-align: center;
    border-bottom: 2px solid #949494;
}

.borderAntwoordenMiddel td {
    background-color: whitesmoke;
    padding: 3px 8px;
    text-align: center;
    border-bottom: 2px solid #949494;
}